Repository NUWCDIVNPT/stig-manager, pull requests merged in 2025-07, with the labels that each got.

#1672 fix: assign STIGMAN.oauth.strictPkce to boolean
  api/source/bootstrap/client.js
Labels: API

#1678 remove :op from required user scopes; handle array in aud claim; re-added "openid" to requested scopes
  client/src/js/oidcWorker.js
Labels: UI, OIDC

#1674 refactor: fetch 'other assets' on render of that tab.
  client/src/js/review.js
Labels: UI

#1725 feat: idle timeouts default to zero
  api/launchers/stig-manager.bat
  api/launchers/stig-manager.sh
  api/source/utils/config.js
  docs/installation-and-setup/envvars.csv
Labels: API, UI
