Repository NUWCDIVNPT/stig-manager, pull requests merged in 2025-08, with the labels that each got.

#1729 feat: report semantic version with build
  api/source/bootstrap/bootstrapUtils.js
  api/source/utils/config.js
Labels: API

#1727 refactor: web-preferences
  api/source/controllers/User.js
  api/source/service/UserService.js
  api/source/specification/stig-manager.yaml
  client/src/js/SM/NavTree.js
  client/src/js/SM/WhatsNew.js
  test/api/mocha/data/user/user.test.js
Labels: API, UI, tests

#1728 feat: sync theme change across tabs
  client/src/js/SM/NavTree.js
  client/src/js/stigman.js
Labels: UI

#1745 stig.version should be string value for cklb
  api/source/service/AssetService.js
  api/source/specification/stig-manager.yaml
Labels: API, OAS
