Repository NUWCDIVNPT/stig-manager, pull requests merged in 2025-03, with the labels that each got.

#1546 feat: state module
  .github/workflows/api-state-tests.yml
  api/launchers/stig-manager.bat
  api/launchers/stig-manager.sh
  api/source/bootstrap/dependencies.js
  api/source/bootstrap/middlewares.js
  api/source/bootstrap/server.js
  api/source/bootstrap/signals.js
  api/source/controllers/Operation.js
  api/source/index.js
  api/source/service/utils.js
  api/source/specification/stig-manager.yaml
  api/source/utils/auth.js
  api/source/utils/config.js
  api/source/utils/state.js
  docs/installation-and-setup/envvars.csv
  test/state/mocha/bootstrap.test.js
  test/state/mocha/lib.js
  test/state/package-lock.json
  test/state/package.json
Labels: API, tests, OAS, workflow

#1562 feat: handle database outages
  .github/workflows/api-state-tests.yml
  api/source/package-lock.json
  api/source/package.json
  api/source/service/utils.js
  api/source/utils/PoolMonitor.js
  test/state/drop-db.sh
  test/state/mocha/lib.js
  test/state/mocha/outage.test.js
Labels: API, tests, DB

#1567 feat: adds dry run to batch asset creation
  api/source/controllers/Asset.js
  api/source/service/utils.js
  api/source/specification/stig-manager.yaml
  test/api/mocha/data/asset/assetPost.test.js
Labels: API

#1573 fix: show filter menu on click of nested header elements
  client/src/js/SM/ColumnFilters.js
Labels: UI
