Repository NUWCDIVNPT/stig-manager, pull requests merged in 2025-02, with the labels that each got.

#1495 feat: adds workflow to run mocha tests on linux binary artifact
  .github/workflows/api-binary-tests.yml
  .github/workflows/build-binary-artifacts.yml
Labels: workflow

#1494 refactor: verifyRequest => validateOauthSecurity
  api/source/index.js
  api/source/utils/auth.js
  api/source/utils/error.js
Labels: API, OIDC

#1510 fix: add ruleIds to ReviewAssetRuleRead; remove String255 references
  api/source/specification/stig-manager.yaml
Labels: OAS

#1514 fix: Error as a result of unregistering a user
  client/src/js/SM/User.js
Labels: UI

#1517 fix: handling of user-defined jwt claims
  api/source/index.js
  api/source/service/CollectionService.js
  api/source/service/OperationService.js
  api/source/service/UserService.js
  api/source/utils/auth.js
  api/source/utils/config.js
  client/src/js/SM/User.js
  docs/installation-and-setup/envvars.csv
Labels: documentation, API

#1520 feat: adds users with admin privileges to home screen
  api/launchers/stig-manager.bat
  api/launchers/stig-manager.sh
  api/source/controllers/User.js
  api/source/index.js
  api/source/service/UserService.js
  api/source/specification/stig-manager.yaml
  api/source/utils/config.js
  api/source/utils/log-schema.json
  client/build.sh
  client/src/css/dark-mode.css
  client/src/css/stigman.css
  client/src/js/SM/FlexboxLayout.js
  client/src/js/SM/MainPanel.js
  client/src/js/resources.js
  client/src/js/stigman.js
  docs/installation-and-setup/envvars.csv
  test/api/mocha/data/user/user.test.js
Labels: documentation, API, UI, tests, OAS

#1529 feat: now runs when changes are made to scripts involved with building binaries.
  .github/workflows/api-binary-tests.yml
Labels: workflow, Binaries

#1528 Feat: Replaces pkg with a maintained pkg fork ''@yao-pkg/pkg"
  api/build.sh
  api/pkg.config.json
Labels: API, Binaries

#1527 refactor: modularizes index.js
  api/source/bootstrap/bootstrapUtils.js
  api/source/bootstrap/client.js
  api/source/bootstrap/dependencies.js
  api/source/bootstrap/docs.js
  api/source/bootstrap/errorHandlers.js
  api/source/bootstrap/middlewares.js
  api/source/bootstrap/server.js
  api/source/index.js
  api/source/service/utils.js
  api/source/utils/auth.js
Labels: API, javascript

#1543 fix: display the collection properties panel in app manage
  client/src/js/collectionAdmin.js
Labels: UI

#1542 fix: adds checking if a collection exists when elevated in getCollectionInfoAndCheckPermission
  api/source/controllers/Asset.js
  api/source/controllers/Collection.js
  api/source/controllers/Metrics.js
  api/source/controllers/Review.js
  api/source/service/CollectionService.js
  test/api/mocha/data/collection/collectionGet.test.js
Labels: API, tests

#1541 refactor: creates proper api spec schema for getAppInfo
  api/source/specification/stig-manager.yaml
Labels: OAS
